body {
    padding: 35px;
}

h2 {
    text-decoration: underline;
    border-radius: 18px;
    background-color: rgba(245, 190, 59, 0.7);
    padding: 10px;
}

h3 {
    text-decoration: underline;
    border-radius: 18px;
    width: 90%;
    background-color: rgba(245, 190, 59, 0.7);
    padding: 10px;
    margin-bottom: 20px;
}

#answers {
    margin-left: 15px;  
    width: 90%
}

pre {
    background-color: #E2DFD2;
    width: 90%;
}

#q1, #q1-2, #q2, #q2-2, #q3, #q4, #q5, #q5-2, #q6 {
    background-color: #E2DFD2;
    padding: 15px;
    width: 90%;
}

table {
    border-spacing: 30px;
    text-align: centre; 
    width: 25%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#box {
    border:2px ridge black;
    width: 40%;
    padding: 20px;
}
